<?xml version="1.0"?>

<odoo>
    <menuitem
        id="school_menu_root"
        name="School"
        sequence="2"/>

    <menuitem
        id="school_menu_student_master"
        name="Students"
        parent="school_menu_root"
        sequence="1"/>

    <menuitem
        id="school_menu_teacher_root"
        parent="school_menu_root"
        name="Teachers"/>
</odoo>